.header{
position: relative;
padding: 20px;
height: 142px;
}
#share{
  position: absolute;
  right: 30%;
  top: 0px;
}
body{
width: 1440px;
margin: 30px auto;
background-color: #F4F5F7;
}
.header-items{
  display: flex;
  flex-direction: column;
  align-items: center;
}